* {
  margin: 0;
  padding: 0;
}

.f_l {
  float: left;
}

.f_r {
  float: right;
}

.continer {
  width: 1140px;
  margin: 0 auto;
}

/*=================*/
/*==HEADER SECTION===*/
/*=================*/
body {
  background: #2c3e50;
}

#header {
  background: #ff9f43;
  overflow: hidden;
  height: 80px;
  color: black;
  border-bottom: 4px solid #2c3e50;
}

#header:hover {
  background: #34495e;
  color: #f1c40f;
  transition: 0.9s;
  border-bottom: 4px solid #ff9f43;
}

#header .logo {
  margin-top: 20px;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  padding: 10px;
  line-height: 80px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.nav ul li a:hover {
  text-decoration: underline double #f1c40f 4px;
  color: #f39c12;
  transition: 0.4s;
}

#section {
  background: url("../img/slide-2.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: lighten;
  height: 500px;
  overflow: hidden;
}
.article .text {
  font-size: 40px;
  text-align: center;
  margin-top: 180px;
  color: #ffe82b;
  text-shadow: 8px 9px 15px rgb(21, 21, 21);
  font-weight: bolder;
}
.text:hover {
  text-shadow: 8px 9px 15px red;
  color: #fff;
}
.text-en {
  font-size: 40px;
  margin: 0 auto;
  margin-top: 10px;
  color: #fff;
  box-shadow: inset 0px 1px 25px rgb(18, 53, 238);
  font-weight: bolder;
  text-align: center;
  border-radius: 8px;
  background: rgb(37, 224, 255);
  width: 700px;
}
.text-en:hover {
  box-shadow: inset 0px 1px 25px rgb(205, 240, 8);
  background: rgb(9, 255, 0);
}
.btn {
  width: 100px;
  padding: 10px 10px;
  background: gold;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
}
.btn a {
  text-decoration: none;
}
.btn:hover {
  background: cyan;
  color: black;
  border-radius: 20px 0px 20px 0px;
}
